* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.background-fundal {
    background-color: rgba(177, 141, 96, 0.77);
}

.background-fundal h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    font-weight: 400;
    font-style: italic;
    width: 500px;
}

input {
    background-color: rgba(209, 209, 133, 0.386);

}

.image {
    position: sticky;
    left: 1420px;

}

.linkuri ul li {
    display: inline-block;
    margin-left: 180px;
}

.linkuri {
    height: 30px;
    background-color: #e9c3d4;
    display: flex;
    align-items: center;
    font-size: 17px;
    position: sticky;
    top: 4px;

}

.linkuri ul li a {
    border-radius: 10px;
    padding: 3px;
    text-decoration: none;
    color: rgb(92, 89, 47);

}

a:hover {
    background-color: rgb(9, 243, 239);

}

a:active {
    background-color: rgb(232, 236, 4)
}
