* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.background-fundal {
    background-color: rgba(177, 141, 96, 0.77);
}

.background-fundal h1 {
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    font-weight: 400;
    font-style: italic;
    width: 500px;
}

input {
    background-color: rgba(209, 209, 133, 0.386);
    border: #e9c3d4;
    border-radius: 20px;
}

.image {
    position: absolute;
    margin-left: 1425px;

}

.linkuri ul li {
    display: inline-block;
    margin-left: 180px;

}

.linkuri {
    height: 30px;
    background-color: #e9c3d4;
    display: flex;
    align-items: center;
    font-size: 17px;
    position: sticky;
    top: 1px;

}

.linkuri ul li a {
    border-radius: 10px;
    padding: 3px;
    text-decoration: none;
    color: rgb(92, 89, 47);
    font-weight: bold;

}

a:hover {
    background-color: rgb(9, 243, 239);

}

a:active {
    background-color: rgb(232, 236, 4)
}

.main-1 {
    background-color: beige;
}

.portugalia-1 header h1 {
    margin-left: 40%;
    font-family: 'Libre Baskerville', serif;
}

.portugalia-1 header img {
    margin-bottom: 19px;
    margin-left: 23px;
    border-radius: 23px;

}

.portugalia-1 header p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 20px;
}

.div-bucataria-portugheza h2 {
    margin-left: 40%;
    font-family: 'Libre Baskerville', serif;
}

.div-bucataria-portugheza i {
    color: rgba(9, 156, 36, 0.567);
}

.div-bucataria-portugheza .introducere-bucatarie p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 20px;
    padding-top: 10px;
}

.div-bucataria-portugheza .locuri-de-mancat p {
    font-weight: bold;
}

.locuri-de-mancat ul li {
    color: #fe0000;
    margin-left: 19px;
    padding-bottom: 5px;
}

.locuri-de-vizitat header h2 {
    margin-left: 40%;
    font-family: 'Libre Baskerville', serif;
}

.locuri-de-vizitat .div-lisabona p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 20px;
    padding-top: 10px;
}

.locuri-de-vizitat .div-lisabona img {
    margin-left: 90px;
    border-radius: 15px;
}

.locuri-de-vizitat .div-porto p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 20px;
    padding-top: 10px;
}

.locuri-de-vizitat .div-porto img {
    margin-left: 90px;
    border-radius: 15px;
}

.locuri-de-vizitat .div-insulele-azore p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 20px;
    padding-top: 10px;
}

.locuri-de-vizitat .div-insulele-azore img {
    margin-left: 90px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.uae header h1 {
    margin-left: 40%;
    font-family: 'Libre Baskerville', serif;
}

.uae header img {
    margin-bottom: 19px;
    margin-left: 23px;
    border-radius: 23px;
}

.uae header p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 20px;
    padding-top: 10px;
}

.introducere-uae header h2 {
    margin-left: 40%;
    font-family: 'Libre Baskerville', serif;
}

.div-bucataria-uae p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 20px;
    padding-top: 10px;
}

.div-bucataria-uae ol li {
    color: #ff0000;
    margin-left: 19px;
    padding-bottom: 5px;
}

.locuri-de-vizitat-uae .introducere-abu-dhabi p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 20px;
    padding-top: 10px;
}

.locuri-de-vizitat-uae .introducere-abu-dhabi img {
    margin-left: 90px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.locuri-de-vizitat-uae .introducere-dubai p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 20px;
    padding-top: 10px;
}

.locuri-de-vizitat-uae .introducere-dubai img {
    margin-left: 90px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.locuri-de-vizitat-uae .introducere-ras-al-khaimah p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 20px;
    padding-top: 10px;
}

.locuri-de-vizitat-uae .introducere-ras-al-khaimah img {
    margin-left: 90px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.italia header h1 {
    margin-left: 40%;
    font-family: 'Libre Baskerville', serif;
}

.italia header img {
    margin-left: 90px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.italia header p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 20px;
    padding-top: 10px;
}

.bucataria-italiana p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 20px;
    padding-top: 10px;
}

.locuri-de-vizitat-italia p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 20px;
    padding-top: 10px;
}
.locuri-de-vizitat-italia img{
    margin-left: 90px;
    border-radius: 15px;
    margin-bottom: 20px; 
}
.grecia h1{
    margin-left: 40%;
    font-family: 'Libre Baskerville', seri
}
.grecia img{
    margin-left: 90px;
    border-radius: 15px;
    margin-bottom: 20px; 
}
.grecia p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 20px;
    padding-top: 10px;
}
.canada h1{
    margin-left: 40%;
    font-family: 'Libre Baskerville', seri
}   
.canada img{
    margin-left: 90px;
    border-radius: 15px;
    margin-bottom: 20px; 
}
.canada p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 20px;
    padding-top: 10px;   
}